footer {
  background-color: var(--ds-color-bg-primary);
  color: var(--ds-color-font-tertiary);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.ds-footer-text-left {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

@media (min-width: 576px) {
  footer {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 120px;
  }
}
